<a href="https://colab.research.google.com/github/rootofdata/kostat_AI_contest/blob/main/0_tokenized.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pylab as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data= pd.read_csv('/content/drive/MyDrive/통계청_AI경진대회/실습용 자료/1. 실습용자료.txt', sep ='|',encoding='CP949', header=0)
submission= pd.read_csv('/content/drive/MyDrive/통계청_AI경진대회/모델 개발용 자료/2. 모델개발용자료.txt', sep ='|',encoding='CP949', header=0)
data

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal
0,id_0000001,S,95,952,카센터에서,자동차부분정비,타이어오일교환
1,id_0000002,G,47,472,상점내에서,일반인을 대상으로,채소.과일판매
2,id_0000003,G,46,467,절단하여사업체에도매,공업용고무를가지고,합성고무도매
3,id_0000004,G,47,475,영업점에서,일반소비자에게,열쇠잠금장치
4,id_0000005,Q,87,872,어린이집,보호자의 위탁을 받아,취학전아동보육
...,...,...,...,...,...,...,...
999995,id_0999996,C,13,134,제품입고,워싱,청바지워싱
999996,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어
999997,id_0999998,G,47,474,영업점에서,일반소비자에게,여성의류 판매
999998,id_0999999,P,85,856,사업장에서,일반고객을대상으로,필라테스
999999,id_1000000,I,56,561,사업장에서,접객시설을 갖추고,한식(미역구)판매

In [ ]:
data.head()

        AI_id digit_1  digit_2  digit_3    text_obj    text_mthd text_deal
0  id_0000001       S       95      952       카센터에서      자동차부분정비   타이어오일교환
1  id_0000002       G       47      472       상점내에서    일반인을 대상으로   채소.과일판매
2  id_0000003       G       46      467  절단하여사업체에도매    공업용고무를가지고    합성고무도매
3  id_0000004       G       47      475       영업점에서      일반소비자에게    열쇠잠금장치
4  id_0000005       Q       87      872        어린이집  보호자의 위탁을 받아   취학전아동보육

In [ ]:
submission.head()

       AI_id  digit_1  digit_2  digit_3  text_obj  text_mthd text_deal
0  id_000001      NaN      NaN      NaN   치킨전문점에서   고객의주문에의해      치킨판매
1  id_000002      NaN      NaN      NaN      산업공구  다른 소매업자에게    철물 수공구
2  id_000003      NaN      NaN      NaN       절에서   신도을 대상으로    불교단체운영
3  id_000004      NaN      NaN      NaN     영업장에서      고객요구로     자동차튜닝
4  id_000005      NaN      NaN      NaN  실내포장마차에서  접객시설을 갖추고   소주,맥주제공

In [ ]:
ks = pd.read_csv('/content/drive/MyDrive/통계청_AI경진대회/한국표준산업분류(10차)_국문_test.csv',encoding='CP949',header=2)

In [ ]:
#input2 세부항목명으로 들어갈 경우 input2 : digit_3까지.
#ks['코드.4']=ks['코드.4']//100
input2 = ks[['코드.2','항목명.3']].dropna()
input2 = input2.reset_index(drop=True)
input2['코드.2']=input2['코드.2'].astype(int)
input2['항목명.3']=input2['항목명.3'].str.rstrip('업')
input2.rename(columns={'코드.2':'digit_3'},inplace=True)
input2.rename(columns={'항목명.3':'NLP'},inplace=True)
input2.head()

   digit_3              NLP
0       11  곡물 및 기타 식량작물 재배
1       12             소 사육
2       13    작물재배 및 축산 복합농
3       14      작물재배 관련 서비스
4       15      수렵 및 관련 서비스

In [ ]:
#ks['코드.3']=ks['코드.3']//10

In [ ]:
#input 세부항목명으로 들어갈 경우
input3 = ks[['코드.3','항목명.3']].dropna()
input3 = input3.reset_index(drop=True)
input3['코드.3']=input3['코드.3'].astype(int)
#input3['항목명.3']=input3['항목명.3'].str.rstrip('업')
input3.rename(columns={'코드.3':'digit_3'},inplace=True)
input3.rename(columns={'항목명.3':'NLP'},inplace=True)
input3

     digit_3                   NLP
0        111      곡물 및 기타 식량작물 재배업
1        112     채소, 화훼작물 및 종묘 재배업
2        113  과실, 음료용 및 향신용 작물 재배업
3        114             기타 작물 재배업
4        115              시설작물 재배업
..       ...                   ...
490     9699  그 외 기타 분류 안된 개인 서비스업
491     9700             가구 내 고용활동
492     9810    자가 소비를 위한 가사 생산 활동
493     9820   자가 소비를 위한 가사 서비스 활동
494     9900             국제 및 외국기관

[495 rows x 2 columns]

In [ ]:
a1=[]
for i in range(len(input2)):
  a1.append('id_'+str(i+1000001))
a2=[]
for i in range(len(input3)):
  a2.append('id_'+str(i+1000001))

In [ ]:
import pandas as pd
input2.insert(0,'AI_id',a1)
input3.insert(0,'AI_id',a2)

input들 정리 끝

In [ ]:
col = ['text_obj','text_mthd','text_deal']
NLP = data[col].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
NLP.head()

0          카센터에서 자동차부분정비 타이어오일교환
1        상점내에서 일반인을 대상으로 채소.과일판매
2    절단하여사업체에도매 공업용고무를가지고 합성고무도매
3           영업점에서 일반소비자에게 열쇠잠금장치
4       어린이집 보호자의 위탁을 받아 취학전아동보육
dtype: object

In [ ]:
df = data[['AI_id','digit_3']].copy()
df['NLP'] = NLP

In [ ]:
df_concat1=pd.concat([df,input2])
df_concat2=pd.concat([df,input3])

In [ ]:
df_concat1['NLP']=df_concat1['NLP'].astype(str)
df_concat2['NLP']=df_concat2['NLP'].astype(str)
df_concat1.reset_index(inplace=True)
df_concat2.reset_index(inplace=True)

In [ ]:
NLP1 = df_concat1['NLP']
NLP2 = df_concat2['NLP']

In [ ]:
NLP1[1]

'상점내에서 일반인을 대상으로 채소.과일판매'

In [ ]:
# 텍스트 정제 함수 : 한글 이외의 문자는 전부 제거합니다.
import re
def text_cleaning(text):
    hangul = re.compile('[^ ㄱ-ㅣ가-힣]+') # 한글의 정규표현식을 나타냅니다.
    result = hangul.sub('', text)
    return result

In [ ]:
#!pip install konlpy

In [ ]:
from konlpy.tag import *

hannanum = Hannanum()
kkma = Kkma()
komoran = Komoran()
okt = Okt()

In [ ]:
tagsets = pd.DataFrame()
N = 18
tagsets["hannanum-기호"] = list(hannanum.tagset.keys()) + list("*" * (N - len(hannanum.tagset)))
tagsets["hannanum-품사"] = list(hannanum.tagset.values()) + list("*" * (N - len(hannanum.tagset)))
tagsets

   hannanum-기호 hannanum-품사
0            E          어미
1           EC       연결 어미
2           EF       종결 어미
3           EP       선어말어미
4           ET       전성 어미
5            F         외국어
6            I         독립언
7           II         감탄사
8            J         관계언
9           JC         격조사
10          JP      서술격 조사
11          JX         보조사
12           M         수식언
13          MA          부사
14          MM         관형사
15           N          체언
16          NB        의존명사
17          NC        보통명사
18          NN          수사
19          NP         대명사
20          NQ        고유명사
21           P          용언
22          PA         형용사
23          PV          동사
24          PX       보조 용언
25           S          기호
26           X          접사
27          XP         접두사
28          XS         접미사

In [ ]:
for i in NLP1:
  text_cleaning(i)
for i in NLP2:
  text_cleaning(i)

In [ ]:
from nltk import Text
# for i in range(10):
#   a.append(okt.nouns(NLP[i]))
kolaw1 = Text(NLP1, name="kolaw")
kolaw2 = Text(NLP2, name="kolaw")
kolaw1[-1]

'국제 및 외국기관'

In [ ]:
NLP1[1]

'상점내에서 일반인을 대상으로 채소.과일판매'

In [ ]:
from konlpy.tag import Hannanum
hannanum = Hannanum()
okt.nouns(NLP1[1])

['상점', '내', '일반인', '대상', '채소', '과일', '판매']

In [ ]:
hannanum.nouns(NLP1[1])

['상점내', '일반인', '대상', '채소', '과일판매']

In [ ]:
#okt / NLP1
tokenized_okt1 = []
for i in range(len(NLP1)):
  tokenized_okt1.append(okt.nouns(NLP1[i]))

In [ ]:
#okt / NLP2
tokenized_okt2 = []
for i in range(len(NLP2)):
  tokenized_okt2.append(okt.nouns(NLP2[i]))

In [ ]:
#hannanum / NLP1
tokenized_hannanum3 = []
for i in range(len(NLP1)):
  tokenized_hannanum3.append(hannanum.nouns(NLP1[i]))

In [ ]:
#hannanum / NLP2
tokenized_hannanum4 = []
for i in range(len(NLP2)):
  tokenized_hannanum4.append(hannanum.nouns(NLP2[i]))

In [ ]:
import pickle
with open('/content/drive/MyDrive/통계청_AI경진대회/data/tokenized_okt1','wb') as f:
    pickle.dump(tokenized_okt1,f)

In [ ]:
import pickle
with open('/content/drive/MyDrive/통계청_AI경진대회/data/tokenized_okt2','wb') as f:
    pickle.dump(tokenized_okt2,f)

In [ ]:
import pickle
with open('/content/drive/MyDrive/통계청_AI경진대회/data/tokenized_hannanum3','wb') as f:
    pickle.dump(tokenized_hannanum3,f)

In [ ]:
import pickle
with open('/content/drive/MyDrive/통계청_AI경진대회/data/tokenized_hannanum4','wb') as f:
    pickle.dump(tokenized_hannanum4,f)

In [ ]:
for i in NLP:
  text_cleaning(i)

In [ ]:
import pickle
with open('tokenized_okt1','rb') as f:
    contents1 = pickle.load(f)