<a href="https://colab.research.google.com/github/rootofdata/kostat_AI_contest/blob/main/495_additive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pylab as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data= pd.read_csv('/content/drive/MyDrive/통계청_AI경진대회/실습용 자료/1. 실습용자료.txt', sep ='|',encoding='CP949', header=0)
submission= pd.read_csv('/content/drive/MyDrive/통계청_AI경진대회/모델 개발용 자료/2. 모델개발용자료.txt', sep ='|',encoding='CP949', header=0)
data

,AI_id,digit_1,digit_2,digit_3,text_obj,text_mthd,text_deal
0,id_0000001,S,95,952,카센터에서,자동차부분정비,타이어오일교환
1,id_0000002,G,47,472,상점내에서,일반인을 대상으로,채소.과일판매
2,id_0000003,G,46,467,절단하여사업체에도매,공업용고무를가지고,합성고무도매
3,id_0000004,G,47,475,영업점에서,일반소비자에게,열쇠잠금장치
4,id_0000005,Q,87,872,어린이집,보호자의 위탁을 받아,취학전아동보육
...,...,...,...,...,...,...,...
999995,id_0999996,C,13,134,제품입고,워싱,청바지워싱
999996,id_0999997,F,42,424,현장에서,고객의요청에의해,실내인테리어
999997,id_0999998,G,47,474,영업점에서,일반소비자에게,여성의류 판매
999998,id_0999999,P,85,856,사업장에서,일반고객을대상으로,필라테스
999999,id_1000000,I,56,561,사업장에서,접객시설을 갖추고,한식(미역구)판매

In [ ]:
data.head()

        AI_id digit_1  digit_2  digit_3    text_obj    text_mthd text_deal
0  id_0000001       S       95      952       카센터에서      자동차부분정비   타이어오일교환
1  id_0000002       G       47      472       상점내에서    일반인을 대상으로   채소.과일판매
2  id_0000003       G       46      467  절단하여사업체에도매    공업용고무를가지고    합성고무도매
3  id_0000004       G       47      475       영업점에서      일반소비자에게    열쇠잠금장치
4  id_0000005       Q       87      872        어린이집  보호자의 위탁을 받아   취학전아동보육

In [ ]:
ks = pd.read_csv('/content/drive/MyDrive/통계청_AI경진대회/한국표준산업분류(10차)_국문_test.csv',encoding='CP949',header=2)

In [ ]:
ks

,코드,항목명,코드.1,항목명.1,코드.2,항목명.2,코드.3,항목명.3,코드.4,항목명.4
0,A,"농업, 임업 및 어업(01~03)",1.0,농업,11.0,작물 재배업,111.0,곡물 및 기타 식량작물 재배업,1110.0,곡물 및 기타 식량작물 재배업
1,NaN,NaN,NaN,NaN,NaN,NaN,112.0,"채소, 화훼작물 및 종묘 재배업",1121.0,채소작물 재배업
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1122.0,화훼작물 재배업
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1123.0,종자 및 묘목 생산업
4,NaN,NaN,NaN,NaN,NaN,NaN,113.0,"과실, 음료용 및 향신용 작물 재배업",1131.0,과실작물 재배업
...,...,...,...,...,...,...,...,...,...,...
1192,T,가구 내 고용활동 및 달리 분류되지 않은 자가 소비 생산활동(97~98),97.0,가구 내 고용활동,970.0,가구 내 고용활동,9700.0,가구 내 고용활동,97000.0,가구 내 고용활동
1193,NaN,NaN,98.0,달리 분류되지 않은 자가 소비를 위한 가구의 재화 및 서비스 생산활동,981.0,자가 소비를 위한 가사 생산 활동,9810.0,자가 소비를 위한 가사 생산 활동,98100.0,자가 소비를 위한 가사 생산 활동
1194,NaN,NaN,NaN,NaN,982.0,자가 소비를 위한 가사 서비스 활동,9820.0,자가 소비를 위한 가사 서비스 활동,98200.0,자가 소비를 위한 가사 서비스 활동
1195,U,국제 및 외국기관(99),99.0,국제 및 외국기관,990.0,국제 및 외국기관,9900.0,국제 및 외국기관,99001.0,주한 외국 공관
1196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99009.0,기타 국제 및 외국기관

In [ ]:
#input 세부항목명으로 들어갈 경우
input3 = ks[['코드.3','항목명.3']].dropna()
input3 = input3.reset_index(drop=True)
input3['코드.3']=input3['코드.3'].astype(int)
#input3['항목명.3']=input3['항목명.3'].str.rstrip('업')
input3.rename(columns={'코드.3':'digit_3'},inplace=True)
input3.rename(columns={'항목명.3':'NLP'},inplace=True)
input3['digit_3']=input3['digit_3']//10
input3

     digit_3                   NLP
0         11      곡물 및 기타 식량작물 재배업
1         11     채소, 화훼작물 및 종묘 재배업
2         11  과실, 음료용 및 향신용 작물 재배업
3         11             기타 작물 재배업
4         11              시설작물 재배업
..       ...                   ...
490      969  그 외 기타 분류 안된 개인 서비스업
491      970             가구 내 고용활동
492      981    자가 소비를 위한 가사 생산 활동
493      982   자가 소비를 위한 가사 서비스 활동
494      990             국제 및 외국기관

[495 rows x 2 columns]

In [ ]:
a=input3['digit_3']

In [ ]:
a_495=a.copy()

In [ ]:
import pickle
with open('/content/drive/MyDrive/통계청_AI경진대회/영석/a_495','wb') as f:
    pickle.dump(a_495,f)

In [ ]:
import pickle
with open('/content/drive/MyDrive/통계청_AI경진대회/영석/a_495','rb') as f:
    a_495 = pickle.load(f)

In [ ]:
a_495

0       11
1       11
2       11
3       11
4       11
      ...
490    969
491    970
492    981
493    982
494    990
Name: digit_3, Length: 495, dtype: int64

In [ ]:
a2=[]
for i in range(len(input3)):
  a2.append('id_'+str(i+1000001))

In [ ]:
a2

['id_1000001',
 'id_1000002',
 'id_1000003',
 'id_1000004',
 'id_1000005',
 'id_1000006',
 'id_1000007',
 'id_1000008',
 'id_1000009',
 'id_1000010',
 'id_1000011',
 'id_1000012',
 'id_1000013',
 'id_1000014',
 'id_1000015',
 'id_1000016',
 'id_1000017',
 'id_1000018',
 'id_1000019',
 'id_1000020',
 'id_1000021',
 'id_1000022',
 'id_1000023',
 'id_1000024',
 'id_1000025',
 'id_1000026',
 'id_1000027',
 'id_1000028',
 'id_1000029',
 'id_1000030',
 'id_1000031',
 'id_1000032',
 'id_1000033',
 'id_1000034',
 'id_1000035',
 'id_1000036',
 'id_1000037',
 'id_1000038',
 'id_1000039',
 'id_1000040',
 'id_1000041',
 'id_1000042',
 'id_1000043',
 'id_1000044',
 'id_1000045',
 'id_1000046',
 'id_1000047',
 'id_1000048',
 'id_1000049',
 'id_1000050',
 'id_1000051',
 'id_1000052',
 'id_1000053',
 'id_1000054',
 'id_1000055',
 'id_1000056',
 'id_1000057',
 'id_1000058',
 'id_1000059',
 'id_1000060',
 'id_1000061',
 'id_1000062',
 'id_1000063',
 'id_1000064',
 'id_1000065',
 'id_1000066',
 'id_1000067',
 'id_1000068',
 'id_1000069',
 'id_1000070',
 'id_1000071',
 'id_1000072',
 'id_1000073',
 'id_1000074',
 'id_1000075',
 'id_1000076',
 'id_1000077',
 'id_1000078',
 'id_1000079',
 'id_1000080',
 'id_1000081',
 'id_1000082',
 'id_1000083',
 'id_1000084',
 'id_1000085',
 'id_1000086',
 'id_1000087',
 'id_1000088',
 'id_1000089',
 'id_1000090',
 'id_1000091',
 'id_1000092',
 'id_1000093',
 'id_1000094',
 'id_1000095',
 'id_1000096',
 'id_1000097',
 'id_1000098',
 'id_1000099',
 'id_1000100',
 'id_1000101',
 'id_1000102',
 'id_1000103',
 'id_1000104',
 'id_1000105',
 'id_1000106',
 'id_1000107',
 'id_1000108',
 'id_1000109',
 'id_1000110',
 'id_1000111',
 'id_1000112',
 'id_1000113',
 'id_1000114',
 'id_1000115',
 'id_1000116',
 'id_1000117',
 'id_1000118',
 'id_1000119',
 'id_1000120',
 'id_1000121',
 'id_1000122',
 'id_1000123',
 'id_1000124',
 'id_1000125',
 'id_1000126',
 'id_1000127',
 'id_1000128',
 'id_1000129',
 'id_1000130',
 'id_1000131',
 'id_1000132',
 'id_1000133',
 'id_1000134',
 'id_1000135',
 'id_1000136',
 'id_1000137',
 'id_1000138',
 'id_1000139',
 'id_1000140',
 'id_1000141',
 'id_1000142',
 'id_1000143',
 'id_1000144',
 'id_1000145',
 'id_1000146',
 'id_1000147',
 'id_1000148',
 'id_1000149',
 'id_1000150',
 'id_1000151',
 'id_1000152',
 'id_1000153',
 'id_1000154',
 'id_1000155',
 'id_1000156',
 'id_1000157',
 'id_1000158',
 'id_1000159',
 'id_1000160',
 'id_1000161',
 'id_1000162',
 'id_1000163',
 'id_1000164',
 'id_1000165',
 'id_1000166',
 'id_1000167',
 'id_1000168',
 'id_1000169',
 'id_1000170',
 'id_1000171',
 'id_1000172',
 'id_1000173',
 'id_1000174',
 'id_1000175',
 'id_1000176',
 'id_1000177',
 'id_1000178',
 'id_1000179',
 'id_1000180',
 'id_1000181',
 'id_1000182',
 'id_1000183',
 'id_1000184',
 'id_1000185',
 'id_1000186',
 'id_1000187',
 'id_1000188',
 'id_1000189',
 'id_1000190',
 'id_1000191',
 'id_1000192',
 'id_1000193',
 'id_1000194',
 'id_1000195',
 'id_1000196',
 'id_1000197',
 'id_1000198',
 'id_1000199',
 'id_1000200',
 'id_1000201',
 'id_1000202',
 'id_1000203',
 'id_1000204',
 'id_1000205',
 'id_1000206',
 'id_1000207',
 'id_1000208',
 'id_1000209',
 'id_1000210',
 'id_1000211',
 'id_1000212',
 'id_1000213',
 'id_1000214',
 'id_1000215',
 'id_1000216',
 'id_1000217',
 'id_1000218',
 'id_1000219',
 'id_1000220',
 'id_1000221',
 'id_1000222',
 'id_1000223',
 'id_1000224',
 'id_1000225',
 'id_1000226',
 'id_1000227',
 'id_1000228',
 'id_1000229',
 'id_1000230',
 'id_1000231',
 'id_1000232',
 'id_1000233',
 'id_1000234',
 'id_1000235',
 'id_1000236',
 'id_1000237',
 'id_1000238',
 'id_1000239',
 'id_1000240',
 'id_1000241',
 'id_1000242',
 'id_1000243',
 'id_1000244',
 'id_1000245',
 'id_1000246',
 'id_1000247',
 'id_1000248',
 'id_1000249',
 'id_1000250',
 'id_1000251',
 'id_1000252',
 'id_1000253',
 'id_1000254',
 'id_1000255',
 'id_1000256',
 'id_1000257',
 'id_1000258',
 'id_1000259',
 'id_1000260',
 'id_1000261',
 'id_1000262',
 'id_1000263',
 'id_1000264',
 'id_1000265',
 'id_1000266',
 'id_1000267',
 'id_1000268',
 'id_1000269',
 'id_1000270',
 'id_1000271',
 'id_1000272',
 'id_1000273',
 'id_1000274',
 'id_1000275',
 'id_1000276',
 'id_1000277',
 'id_1000278',
 'id_1000279',
 'id_1000280',
 'id_1000281',
 'id_1000282',
 'id_1000283',
 'id_1000284',
 'id_1000285',
 'id_1000286',
 'id_1000287',
 'id_1000288',
 'id_1000289',
 'id_1000290',
 'id_1000291',
 'id_1000292',
 'id_1000293',
 'id_1000294',
 'id_1000295',
 'id_1000296',
 'id_1000297',
 'id_1000298',
 'id_1000299',
 'id_1000300',
 'id_1000301',
 'id_1000302',
 'id_1000303',
 'id_1000304',
 'id_1000305',
 'id_1000306',
 'id_1000307',
 'id_1000308',
 'id_1000309',
 'id_1000310',
 'id_1000311',
 'id_1000312',
 'id_1000313',
 'id_1000314',
 'id_1000315',
 'id_1000316',
 'id_1000317',
 'id_1000318',
 'id_1000319',
 'id_1000320',
 'id_1000321',
 'id_1000322',
 'id_1000323',
 'id_1000324',
 'id_1000325',
 'id_1000326',
 'id_1000327',
 'id_1000328',
 'id_1000329',
 'id_1000330',
 'id_1000331',
 'id_1000332',
 'id_1000333',
 'id_1000334',
 'id_1000335',
 'id_1000336',
 'id_1000337',
 'id_1000338',
 'id_1000339',
 'id_1000340',
 'id_1000341',
 'id_1000342',
 'id_1000343',
 'id_1000344',
 'id_1000345',
 'id_1000346',
 'id_1000347',
 'id_1000348',
 'id_1000349',
 'id_1000350',
 'id_1000351',
 'id_1000352',
 'id_1000353',
 'id_1000354',
 'id_1000355',
 'id_1000356',
 'id_1000357',
 'id_1000358',
 'id_1000359',
 'id_1000360',
 'id_1000361',
 'id_1000362',
 'id_1000363',
 'id_1000364',
 'id_1000365',
 'id_1000366',
 'id_1000367',
 'id_1000368',
 'id_1000369',
 'id_1000370',
 'id_1000371',
 'id_1000372',
 'id_1000373',
 'id_1000374',
 'id_1000375',
 'id_1000376',
 'id_1000377',
 'id_1000378',
 'id_1000379',
 'id_1000380',
 'id_1000381',
 'id_1000382',
 'id_1000383',
 'id_1000384',
 'id_1000385',
 'id_1000386',
 'id_1000387',
 'id_1000388',
 'id_1000389',
 'id_1000390',
 'id_1000391',
 'id_1000392',
 'id_1000393',
 'id_1000394',
 'id_1000395',
 'id_1000396',
 'id_1000397',
 'id_1000398',
 'id_1000399',
 'id_1000400',
 'id_1000401',
 'id_1000402',
 'id_1000403',
 'id_1000404',
 'id_1000405',
 'id_1000406',
 'id_1000407',
 'id_1000408',
 'id_1000409',
 'id_1000410',
 'id_1000411',
 'id_1000412',
 'id_1000413',
 'id_1000414',
 'id_1000415',
 'id_1000416',
 'id_1000417',
 'id_1000418',
 'id_1000419',
 'id_1000420',
 'id_1000421',
 'id_1000422',
 'id_1000423',
 'id_1000424',
 'id_1000425',
 'id_1000426',
 'id_1000427',
 'id_1000428',
 'id_1000429',
 'id_1000430',
 'id_1000431',
 'id_1000432',
 'id_1000433',
 'id_1000434',
 'id_1000435',
 'id_1000436',
 'id_1000437',
 'id_1000438',
 'id_1000439',
 'id_1000440',
 'id_1000441',
 'id_1000442',
 'id_1000443',
 'id_1000444',
 'id_1000445',
 'id_1000446',
 'id_1000447',
 'id_1000448',
 'id_1000449',
 'id_1000450',
 'id_1000451',
 'id_1000452',
 'id_1000453',
 'id_1000454',
 'id_1000455',
 'id_1000456',
 'id_1000457',
 'id_1000458',
 'id_1000459',
 'id_1000460',
 'id_1000461',
 'id_1000462',
 'id_1000463',
 'id_1000464',
 'id_1000465',
 'id_1000466',
 'id_1000467',
 'id_1000468',
 'id_1000469',
 'id_1000470',
 'id_1000471',
 'id_1000472',
 'id_1000473',
 'id_1000474',
 'id_1000475',
 'id_1000476',
 'id_1000477',
 'id_1000478',
 'id_1000479',
 'id_1000480',
 'id_1000481',
 'id_1000482',
 'id_1000483',
 'id_1000484',
 'id_1000485',
 'id_1000486',
 'id_1000487',
 'id_1000488',
 'id_1000489',
 'id_1000490',
 'id_1000491',
 'id_1000492',
 'id_1000493',
 'id_1000494',
 'id_1000495']

In [ ]:
input3.insert(0,'AI_id',a2)